{%extends 'base.html' %}

{% block content %}

<h3>Idée cadeau</h3>
Quel cadeau offrir à Pierre et Marie-Claude à l’occasion de leurs noces d’or?<br>
Nous vous vous proposons de participer à la numérisation de leurs films super 8 (1965-1982).
Ces films sont oubliés dans un placard et ce cadeau offre l’opportunité de les partager! Nous en avons dressé la liste.
La numérisation d’une bobine coûte 11,5 euros, service de retouche compris, et demande un délai de 7 semaines.
Choisissez votre (ou vos) film(s),  envoyez le chèque du montant correspondant à <b>Sophie Desset, 49 rue de Médicis, 63 000 Clermont-Ferrand</b>, en indiquant le(s) titre(s) choisi(s), avec, si possible, les raisons de votre choix pour personnaliser le cadeau et faire connaître les donateurs à Pierre et Marie-Claude le moment venu.
Tous les films numérisés seront téléchargeables sur le site après les noces d’or par tous ceux qui le souhaitent en qualité HD pour un meilleur rendu sur les TV.
Le jour de la fête, nous ferons une surprise à Pierre et Marie-Claude en projetant une petite sélection. Nous vous proposons de voter pour la projection du film de votre choix.
<br><br>
<center><div id="surveyMonkeyInfo"><div><script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=WbwN_2fX44Ad492cIcAxsWiw_3d_3d"> </script></div></div></center>



<h3>Animations</h3>

Nous avons prévu plusieurs surprises audio-visuelles pour Pierre et Marie-Claude qui nécessitent votre collaboration, en particulier pour constituer une bibliothèque sonore. Merci de réfléchir à une anecdote, un message affectueux, un témoignage, drôle ou émouvant, et bien sûr concernant Pierre et Marie-Claude à raconter en quelques minutes.
Merci de vous enregistrer sur le répondeur téléphonique de Sophie avant le 30 septembre :
04 73 44 96 59.


{% endblock %}