{% extends "base.html" %}
{% block home %}
	class="active"
{% endblock %}
{% block content %}
{% load static %}
<br><br>
<center>

<div style='width:600px;' align="justify">
<h5><p>Marie-Claude et Pierre,</p></h5>

<p>seraient heureux d’être entourés de leurs enfants, petits-enfants, famille et amis pour fêter leurs <b>noces d’or le samedi 26 octobre 2013 à Nouic.</b></p>

<p><b>La fête familiale</b> des Durette sensu lato et de leurs amis  n’ayant pas pu se tenir en mai à Paris aura lieu <b>le dimanche 27 octobre 2013</b> au même endroit.</p>

<hr>

<p>Vous êtes tous chaleureusement invités à ces deux évènements qui se tiendront dans la salle polyvalente de Nouic et débuteront pour les noces d’or le samedi vers 17 heures et pour la réunion familiale le dimanche vers 12h30.</p>

<p>Nous vous invitons à remplir le questionnaire qui suit et qui nous permettra de gérer plus facilement l’organisation de ces deux évènements.</p>

<hr>

<p>Nous comptons sur vous pour nous faire part rapidement de vos réponses. Nous vous enverrons alors les différentes possibilités de transport et une liste d’hébergements proches de Nouic pour ceux qui nous en ferons la demande et nous répondrons à toutes vos questions.</p>

<hr>

<p>Dès maintenant vous pouvez vous renseigner sur Internet pour connaître un peu mieux Nouic situé à une heure de route de Limoges, vers le Nord-Ouest à la limite des Charentes.</p>

<br></div>
<div><a href="/register/" class="btn btn-warning btn-large"><i class="icon-white icon-envelope"></i> Répondre à l'invitation</a><br> &nbsp <br></div>
<img width='300px' src="{% static 'img/rose.jpg' %}" />
<hr style="none;">
</center>
{% endblock %}