{% extends "base.html" %}
{% block home %}
	class="active"
{% endblock %}
{% block content %}
<center>
<p>Marie-Claude et Pierre,</p>

<p>seraient heureux d’être entourés de leurs enfants, petits-enfants, famille et amis pour fêter leurs noces d’or le samedi 26 octobre 2013 à Nouic.</p>

<p>La fête familiale des Durette sensu lato et de leurs amis  n’ayant pas pu se tenir en mai à Paris aura lieu le dimanche 27 octobre 2013 au même endroit.</p>

<p>Vous êtes tous chaleureusement invités à ces deux évènements qui se tiendront dans la salle polyvalente de Nouic et débuteront pour les noces d’or le samedi vers 17 heures et pour la réunion familiale le dimanche vers 12h30.</p>

<p>Nous vous invitons à remplir le questionnaire qui suit et qui nous permettra de gérer plus facilement l’organisation de ces deux évènements.</p>

<p>Nous comptons sur vous pour nous faire part rapidement de vos réponses. Nous vous enverrons alors les différentes possibilités de transport et une liste d’hébergements proches de Nouic pour ceux qui nous en ferons la demande et nous répondrons à toutes vos questions.</p>

<p>Dès maintenant vous pouvez vous renseigner sur Internet pour connaître un peu mieux Nouic situé à une heure de route de Limoges, vers le Nord-Ouest à la limite des Charentes.</p>
</center>
{% endblock %}