{% extends "base.html" %}
{% block nouic %}
    class="active"
{% endblock %}

{% block content %}
{% load static %}
<br><br>

    <center>

    <div style="width:650px;" align=justify>

    On a voulu vous mâcher un tout petit peu le travail mais le plus dur reste à faire et les quelques liens proposés ci-dessous ne sont qu'à titre informatif, vous pourrez peut-être trouver bien mieux. Si vous avez des bons plans à recommander, envoyez un petit mail (brunet.adrien at gmail.com et je mettrai à jour le site)<hr>

    Voici le résultat google pour les gîtes près de nouic : <a href="https://maps.google.fr/maps?client=ubuntu&channel=fs&oe=utf-8&ie=UTF-8&q=gite+nouic&fb=1&gl=fr&hq=gite&hnear=0x47fe9818e27951df:0x31f17d858c4d86b6,Nouic&view=text&ei=0B7DUYffJ4eN4gTjnYDACQ&ved=0CEMQtQM"> <b>Résultats google</b></a>

    <hr>

    Le merveilleux gîte de Nouic : <a href="http://www.legitedenouic.com/"><b> Le site du gite de Nouic! </b></a>

    <hr>

    Un autre gîte tenu par des anglais (comme c'est étonnant):

    <a href="http://www.hirondelles87.com/"><b>Le gîte hirondelle87</b></a>

    <br><br>






</div>
<img src="{% static 'img/nouic.png' %}"/>
</center>

{% endblock %}