{% extends "base.html" %}
{% block plan %}
    class="active"
{% endblock %}

{% block content %}
{% load static%}
<br><br>
    <center>

    <div style="width:650px;" align=justify>

    Pour tous ceux qui ne connaissent pas encore Nouic, c'est un charmant village situé à une heure de Limoges.<br> Son site internet vaut le détour...<br> <a href='http://www.nouic.com'><b>Le site de Nouic</b></a><br>
    Pierre et Marie-Claude habitent au 18 Rue Jean de Fresse, Nouic, Limousin.<hr>

    Pour vous rendre sur les lieux, je ne saurais faire mieux que google maps pour vous indiquer votre chemin...<br>  <a href='http://maps.google.com'><b>Trouver votre itineraire</b></a> <hr>

       Si vous souhaitez faire du <b>covoiturage</b> ou si vous avez <b>besoin d'un transfert gare-nouic ou aéroport-nouic</b>, vous pouvez demander via <a href="/asktransport"><b>cette page</b></a> de l'aide a la famille. <br>
    Et pour consulter la liste des personnes demandant un éventuel covoiturage c'est <a href="/transport/"><b>par là</b></a>.
    <hr>

    Si vous pensez venir en train, les gares de "La Souterraine" ou encore de "Bellac" peuvent être plus interessantes que celle de Limoges.<br><hr>

    Petit lien bonus pour briller lors de votre venue :<br> <a href='http://fr.wikipedia.org/wiki/Nouic'><b>Un peu de Wikipedia</b></a>



</div>
<img src="{% static 'img/nouic.png' %}"/>
</center>
{% endblock %}